{% extends "layout.html" %}
{% block content %}
<body onload="load()">
   <div id="mainCont" class="w3-container">
       <p id="testN">{{test}}</p>
       <div id="audioCont" class="w3-container">
           <p id="testNum">Test Number:{{test_number}}/{{numberOfConditions}}</p>
           <p id="track">{{currentItem}}/{{overall}}</p>
           <figure>
               <audio class="audio-player"
                      controls='controls'
                      preload="auto"
                      controlsList="nodownload noplaybackrate"
                      id="player"
                      type='audio/wav'
                      src="{{audioDirectory}}">
                   Your browser does not support the
                   <code>audio</code> element.
               </audio>
           </figure>
       </div>
       <div id="formCont">
           <form action="/test?f=0" id="one" method="POST" name="item0">
               <p3><input class="button1" disabled name="item0" role="button" type="submit" value="{{item[0]}}" /></p3>
           </form>
           <form action="/test?f=1" id="two" method="POST" name="item1">
               <p3><input class="button1" disabled name="item1" role="button" type="submit" value="{{item[1]}}" /></p3>
           </form>
       </div>
        {% if show_timer %}
            <div id="timerOverlay" class="overlay">
                <div class="timer-content">
                    <p>Machen Sie eine Pause!</p>
                    <span id="countdown">5:00</span>
                </div>
            </div>
        {% endif %}
   </div>
   <a href="http://www.iis.fraunhofer.de/" class="logo-link">
        <img src="{{ url_for('static', filename='images/iis.svg') }}" class="logo" />
    </a>
   <style>
       body {
           overflow-x: hidden;
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           margin: 0;
           background-color: #f0f0f0;
       }
       #mainCont {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           text-align: center;
           width: 100%;
           height: 100%;
       }
       #audioCont {
           width: 400px;
           margin-top: 20px;
       }
       #testN, #testNum, #track {
           margin: 10px 0;
       }
       #testN {
           font-size: x-large;
           color: black;
       }
       #testNum, #track {
           font-size: large;
       }
       #formCont {
           display: flex;
           justify-content: space-between;
           width: 400px;
           margin-top: 20px;
       }
       .audio-player {
           width: 100%;
           box-shadow: 0 0 20px 0 #000a;
           font-family: sans-serif;
           color: white;
           font-size: 0.75em;
       }
       .button1 {
        font-size: 1.5em;       /* Larger font size */
        padding: 10px 20px;     /* Increase padding for larger button area */
        width: 200px;           /* Set a fixed width if desired */
        height: 50px;           /* Set a fixed height if desired */
       }
       #one, #two {
           flex: 1;
           margin: 0 10px;
       }
       .logo-link {
           position: absolute;
           bottom: 20px;
           right: 20px;
           z-index: 10; /* Ensure logo is above other content */
       }
       .logo {
           height: 50px; /* Adjust height as needed */
           width: auto;
       }
       /* Overlay styles */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Ensure it's on top */
            color: #fff;
            font-size: 3em;
            text-align: center;
            flex-direction: column;
        }

        .timer-content p {
            margin: 0;
            font-size: 1.2em;
        }

        #countdown {
            font-weight: bold;
            font-size: 2em;
        }
   </style>

   <script>
       var time_instances = [];
       var instant = 0;
       var click = 0;

       function load() {
           time_instances.length = 0;
           instant = 0;
           click = 0;
           {% if show_timer %}
            startCountdown(5 * 60); // Start the countdown if show_timer is True
            {% endif %}
       }

       var player = document.getElementById("player");
       var buttons = document.querySelectorAll('.button1');
       player.addEventListener('play', function () {
           click += 1;
           instant = player.currentTime;
           time_instances.push(instant);
           if (click > 1) {
               if (time_instances[1] === 0) {
                   player.pause();
                   player.muted = true;
               }
               if (arrayMax(time_instances) > instant) {
                   player.pause();
                   player.muted = true;
               }
           }
       });
       player.addEventListener('ended', () => {
            buttons.forEach(btn => btn.disabled = false);
       });
       window.addEventListener('keydown', function (event) {
           var key = event.which || event.keyCode;
           if (key === 32) { // space
               event.preventDefault();
               player.paused ? player.play() : player.pause();
           }
       });

       function arrayMax(arr) {
           var len = arr.length, max = -Infinity;
           while (len--) {
               if (arr[len] > max) {
                   max = arr[len];
               }
           }
           return max;
       }

        function startCountdown(durationInSeconds) {
            var countdownElement = document.getElementById("countdown");
            var overlay = document.getElementById("timerOverlay");

            var remainingTime = durationInSeconds;
            var countdownInterval = setInterval(function () {
                var minutes = Math.floor(remainingTime / 60);
                var seconds = remainingTime % 60;

                // Format seconds to always display two digits
                seconds = seconds < 10 ? "0" + seconds : seconds;

                // Update the countdown display
                countdownElement.textContent = minutes + ":" + seconds;

                // If time runs out
                if (remainingTime <= 0) {
                    clearInterval(countdownInterval);
                    overlay.style.display = "none"; // Hide the overlay
                }

                remainingTime--;
            }, 1000);
        }
   </script>
{% endblock content %}
