{% extends "layout.html" %}

{% block content %}
<body style="text-align: center; background-color: #f0f0f0; font-family: sans-serif;">
    <div class="container" style="padding: 50px;">
        <h1>Test Beendet</h1>
        <p>Leider haben Sie die für den Hörverstehenstest erforderliche Prüfung der Sprachkenntnisse nicht bestanden. Sie haben die maximale Anzahl der falschen Antworten überschritten.</p>

        <p>Wir danken Ihnen für Ihre Teilnahme an dem Test!</p>

        <p>Danke für Ihre Zeit und Mühe.</p>
    </div>
</body>
{% endblock %}
