{% extends "layout.html" %}

{% block content %}
<body style="text-align: center; background-color: #f0f0f0; font-family: sans-serif;">
    <div class="container" style="padding: 50px;">
        <h1>Test Ended</h1>
        <p>Unfortunately, you did not pass the language proficiency test required for the listening test. You have exceeded the maximum number of incorrect answers.</p>

        <p>We thank you for participating in the test!</p>

        <p>Thank you for your time and effort.</p>
    </div>
</body>
{% endblock %}
